---
layout: default
title: I design, build and grow tech for good
---

<main>
  {% include header.html %}

  <section
    class="text-neutral-50 border border-brand-300 rounded-b-lg bg-brand-800"
  >
    <h2 class="p-4 font-bold">Posts</h2>

    {% for post in paginator.posts %} {% include post_item.html %} {% endfor %}

    <div class="pagination text-sm p-4 border-t border-brand-300">
      {% if paginator.previous_page %}
      <a
        href="{{ paginator.previous_page_path }}"
        class="text-orange-300 hover:no-underline"
        >&lsaquo; Prev</a
      >
      {% else %}
      <span class="opacity-50">&lsaquo; Prev</span>
      {% endif %}
      <span> {{ paginator.page }} of {{ paginator.total_pages }} </span>
      {% if paginator.next_page %}
      <a
        href="{{ paginator.next_page_path }}"
        class="text-orange-300 hover:no-underline"
        >Next &rsaquo;</a
      >
      {% else %}
      <span class="opacity-50">Next &rsaquo;</span>
      {% endif %}
    </div>
  </section>
</main>
