<header>
  <div class="bg1"></div>
  <div
    class="text-neutral-50 p-4 bg-brand-300"
    style="display: flex; align-items: center"
  >
    <img
      src="{{ '/assets/images/65_Tjd-Y_400x400.jpg' | relative_url }}"
      alt="Profile picture"
      class="pic"
    />
    <div>
      <h1 class="text-2xl mb-1 font-bold">Suraj Vadgama</h1>
      <p>
        I design, build and grow tech for good &middot;
        <span class="inline-block">
          <a
            href="{{ site.github_url }}"
            target="_blank"
            rel="noopener noreferrer"
            class="text-orange-300 hover:no-underline"
            tabindex="1"
          >
            <img
              src="{{ '/assets/images/github-icon.svg' | relative_url }}"
              alt="GitHub icon"
              width="12"
              class="inline-block"
            />
            GitHub</a
          >
          &middot;
          <a
            href="{{ site.linkedin_url }}"
            target="_blank"
            rel="noopener noreferrer"
            class="text-orange-300 hover:no-underline"
            tabindex="2"
          >
            <img
              src="{{ '/assets/images/linkedin-icon.svg' | relative_url }}"
              alt="LinkedIn icon"
              width="12"
              class="inline-block"
            />
            LinkedIn</a
          >
        </span>
      </p>
    </div>
  </div>
</header>
