@import "variables";

// backgrounds
// =============================================================================

.bg1,
.bg2 {
  height: 10px;
}

.bg1 {
  background: rgb(203, 106, 97);
  background: linear-gradient(
    90deg,
    rgba(203, 106, 97, 1) 0%,
    rgba(244, 205, 90, 1) 60%,
    rgba(110, 46, 69, 1) 100%
  );
}

.bg2 {
  background: rgb(100, 55, 79);
  background: linear-gradient(
    90deg,
    rgba(100, 55, 79, 1) 0%,
    rgba(201, 191, 105, 1) 60%,
    rgba(90, 42, 80, 1) 100%
  );
}

// custom
// =============================================================================

.profile {
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.4);
}

.pic {
  height: 80px;
  margin-right: 1rem;
  border-radius: 50%;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.thumbnail {
  margin-left: 1rem;
  width: 150px;
  flex-shrink: 0;
}
@media screen and (max-width: 641px) {
  .thumbnail {
    width: 120px;
  }
}
