---
layout: default
---

<main>
  <div class="profile">
    {% include header.html %}

    <section
      class="text-neutral-50 border border-brand-300 rounded-b-lg bg-brand-800"
    >
      <h2 class="p-4">
        <a href="/" class="font-bold text-orange-300 hover:no-underline">
          &lsaquo; Back
        </a>
      </h2>

      <article class="p-4 py-5 border-t border-brand-300 autoflow">
        <div class="text-sm mb-3">
          <span class="opacity-50">{{ page.date | date_to_string }}</span>
          {% for tag in page.tags %} {% if forloop.first %}
          <span class="opacity-50">&middot;</span>
          {% endif %}
          <a href="/tags/{{tag}}" class="text-orange-300 hover:no-underline"
            >#{{ tag }}</a
          >
          {% unless forloop.last %} {% endunless %} {% endfor %}
        </div>

        {{ content }}
      </article>
    </section>
  </div>
</main>
