---
layout: default
---

<main>
  <div class="profile">
    {% include header.html %}

    <section
      class="text-neutral-50 border border-brand-300 rounded-b-lg bg-brand-800"
    >
      <h2 class="p-4 font-bold">
        <a href="/" class="text-orange-300 hover:no-underline" tabindex="3"
          >Home</a
        >
        &rsaquo; #{{ page.tag }}
      </h2>

      {% for post in site.posts %} {% if post.tags contains page.tag %} {%
      include post_item.html %} {% endif %} {% endfor %}
    </section>
  </div>
</main>
